<% include partials/header %>
<div class="ui main text container">
    <div class="ui attached segment">
        <iframe src="<%= BASE_URL + '/' + token %>"></iframe>
    </div>
</div>
<% include partials/footer %>
